.grain {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}

.threejs {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;

    .canvas {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.text {
    // mix-blend-mode: difference;
}