.mute-btn {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 8rem;
    right: 8rem;
    z-index: 100;
    cursor: pointer;

    @media screen and (max-width: $vp__md) {
        bottom: 4rem;
        right: 4rem;
    }

    @media screen and (max-width: $vp__sm) {
        bottom: 2rem;
        right: 2rem;
    }

    &__inner {
        width: 100%;
        height: 100%;
    }

    &__el {
        transition: opacity 0.2s ease-in-out;
        transition: 1s ease-in-out;
    }
}