.player {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;

    // &__bar {
    //     position: relative;
    //     z-index: 55;
    //     height: 3rem;

    //     &__inner {
    //         width: 100%;
    //         height: 100%;
    //         background-color: $green;
    //         mix-blend-mode: difference;
    //     }
    // }

    // &__display {
    //     width: 16rem;
    //     height: 16rem;
    //     position: absolute;
    //     bottom: 3rem;
    //     left: 0;
    //     background-color: $black;
    //     opacity: 0.5;

    //     &--active {

    //     }
    // }
}