.fast {

    &__text {

        &--1 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--2 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--3 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--4 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--5 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }
    }
}