.meaning {

    &__text {
        color: $black !important;

        &--1 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--2 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--3 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }
    }
}