.think {
    color: $white;

    .row {
        &:last-child {
            position: relative;
        }
    }

    &__text {

        &--1 {
            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--2 {
            .SplitTextJS-wrapper {
                visibility: hidden;
            }
        }

        &--3 {
            margin-bottom: 3rem;

            .SplitTextJS-char {
                visibility: hidden;
            }
        }

        &--4 {
            .SplitTextJS-wrapper {
                visibility: hidden;
            }
        }

        &--5 {

            .SplitTextJS-wrapper {
                visibility: hidden;
            }
        }
    }
}