@font-face {
    font-family: Heboo;
    src: url('../static/fonts/heboo-bold.woff2') format('woff2');
    font-weight: 600;
}

body, html {
    background-color: #353b48;
    font-family: 'Heboo';
    color: white;
}

.container {
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h1 {
    color: white
}

.text p {
    color: white;
    font-weight: 300;
}

.text span {
    text-decoration: underline;
}