@import url('https://rsms.me/inter/inter.css');

// CONFIG
html { font-size: 10px; font-family: 'Inter', Arial, sans-serif ;}
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}
* { box-sizing: border-box; }
html, body { overflow: hidden; }
body { margin: 0; padding: 0; }
a { color: inherit; text-decoration: none; }
ul { list-style: none; padding: 0; margin: 0; }

// VIEWPORTS
$vp__lg: 1440px;
$vp__md: 960px;
$vp__sm: 480px;

// COLORS
$white: #fff;
$black: #161616;
$green: #03C9A9;
$purple: #9B59B6;
$blue: #22A7F0;
$orange: #F9690E;
$yellow: #f9e70e;
$red2: #d63031;
$red: #F64747;

// CUSTOM
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 6rem;
    color: $white;

    @media screen and (max-width: $vp__md) {
        font-size: 4rem;
    }

    @media screen and (max-width: $vp__sm) {
        font-size: 3rem;
    }
}
.section {
    width: 100vw;
    height: 100vh;
    padding: 8rem;
    position: relative;

    @media screen and (max-width: $vp__md) {
        padding: 4rem;
    }

    @media screen and (max-width: $vp__sm) {
        padding: 2rem;
    }

    &--wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
}
.z1 { z-index: 10; }
.wrap { display: flex; flex-wrap: wrap; }
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }

// TEST
#defaultCanvas0 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

#threejs {
    z-index: -5;
}