@import url('https://rsms.me/inter/inter.css');

// CONFIG
html { font-size: 10px; font-family: 'Inter', Arial, sans-serif ;}
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}
* { box-sizing: border-box; }
html, body { overflow: hidden; }
body { margin: 0; padding: 0; }
a { color: inherit; text-decoration: none; }
ul { list-style: none; padding: 0; margin: 0; }

// VIEWPORTS
$vp__lg: 1440px;
$vp__md: 960px;
$vp__sm: 480px;

// COLORS
$white: #fff;
$black: #161616;
$green2: #177a44;
$green: #03C9A9;
$purple: #9B59B6;
$blue2: #0984e3;
$blue: #22A7F0;
$orange: #F9690E;
$red2: #d63031;
$red: #F64747;

// CUSTOM
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 6rem;

    @media screen and (max-width: $vp__md) {
        font-size: 4rem;
    }

    @media screen and (max-width: $vp__sm) {
        font-size: 3rem;
    }
}
.grain {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}
.section {
    width: 100vw;
    height: 100vh;
    padding: 8rem;
    position: relative;
    background-color: $white;

    @media screen and (max-width: $vp__md) {
        padding: 4rem;
    }

    @media screen and (max-width: $vp__sm) {
        padding: 2rem;
    }

    &--wrapper {
        width: 100%;
        height: 100%;
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
}
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
.z6 { z-index: 6; }
.z7 { z-index: 7; }
.z8 { z-index: 8; }
.wrap { display: flex; flex-wrap: wrap; }
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }

// FONTS
@font-face{
    font-family: Heboo;
    src: url('../static/fonts/heboo-bold.woff2') format('woff2');
    font-weight: 600;
}

// TEST
.test {
    // &>* {
    //     visibility: hidden;
    // }
}