@import 'config';

// COMPONENTS
@import './components/loader';
@import './components/horizontal';
@import './components/canvas';
@import './components/player';
@import './components/display';
@import './components/spotify';
@import './components/mute';

// SECTIONS
@import './sections/landing';
@import './sections/alone';
@import './sections/eternity';
@import './sections/think';
@import './sections/about';
@import './sections/meaning';
@import './sections/slow';
@import './sections/fast';
@import './sections/care';